
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Black";
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ef8172;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Title Section */

#title {
  background-color: #ef8172;
  color: #fff;
  text-align: left;
  margin-bottom: 100px;
}

#title .container-fluid {
  padding: 3% 15% 4%;
}

/* Title Image */

.title-image {
  width: 60%;
  right: 30%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.about-me{
  color: #fff;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}




#pricing {
  padding: 100px;
  background-color: #f9f6f7;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}



.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}


#dev-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 1.5em;
    background: #fff;
    color: #fff
  }

.devskills-tag {
        margin: 0.3em;
        padding: 0.5em;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 9em;
        background: #ef8172;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.8em;
    }


    #contact {
        padding: 15%;
        background: #ef8172;
        color: #fff;
      }

      .contact-title {
      margin-bottom: 1em;;
      }

.contact-content {
  color: #fff;
}

        @media screen and (min-width: 1200px){
          #contact {
    padding: 3em;
}
        }
